<div>
  <div><p>Pipes here</p></div>
  <div>
    <h2>DatePipe: {{ today }}:{{ today | date }}</h2>
    <h2>CurrencyPipe: {{ money }}:{{ money | currency: "EUR":"Euros" }}</h2>
    <h2>UpperCasePipe: {{ aString }}:{{ aString | uppercase }}</h2>
    <h2>LowerCasePipe: {{ aString }}:{{ aString | lowercase }}</h2>
    <h2>DecimalPipe: {{ aNumber }}:{{ aNumber | number }}</h2>
    <h2>PercentPipe: {{ aNumber }}:{{ aNumber | percent }}</h2>
    <h2>KeyValuePipe</h2>
    <h3>Object</h3>
    <p *ngFor="let item of obj | keyvalue">{{ item.key }}:{{ item.value }}</p>
    <h3>Map</h3>
    <p *ngFor="let item of map | keyvalue">{{ item.key }}:{{ item.value }}</p>
    <h2>SlicePipe</h2>
    <h3>For Collection:</h3>
    <span *ngFor="let i of collection | slice: 1:3"> {{ i }} </span>
    <span *ngFor="let i of collection | slice: -3:-1"> {{ i }} </span>
    <h3>For String:</h3>
    <span>{{ aString }}[1:5]:'{{ aString | slice: 1:5 }}'</span>
    <h2>TitleCasePipe: {{ plainString }}:{{ plainString | titlecase }}</h2>
    <h2>I18nSelectPipe: {{ gender }}: {{ gender | i18nSelect: inviteMap }}</h2>
    <h2>I18nPluralPipe: {{ messages.length | i18nPlural: messageMapping }}</h2>
  </div>
  <p>Here {{ innerHTML }}</p>
  <p class="e2e-inner-html-bound" [innerHTML]="htmlSnippet">here</p>

  <h4>An untrusted URL:</h4>
  <p><a class="e2e-dangerous-url" [href]="dangerousUrl">Click me</a></p>
  <h4>A trusted URL:</h4>
  <p><a class="e2e-trusted-url" [href]="trustedUrl">Click me</a></p>
</div>
